:root {
    --accent: #dc56c5;
    --accent-hover: #ff00d4;
    --background: #0e0e0e;
    --text: #fff;
    --light-text: #939393;
    --input-button: #ffffff11;
    --input: #ffffff33;
    --input-hover: #ffffff44;
    --modal-backdrop: #200d1d99;
    --modal-bg: #fff2fd;
    --close-hover: #00000022;
    --buttons: #4c00fe;
    --buttons-hover: #4000d5;
    --header-gradient: #c4c4c4;
    --card-radius: 50px 0 50px 0;
    --button-radius: 10px 0 10px 0;
}

* {
    font-family: Montserrat;
    font-size: 16px;
}
body {
    background-color: var(--background);
    background-image: url(../img/desktop_background.png), url(../img/noise_body.png);
    background-repeat: no-repeat, repeat;
    background-position-x: center, center;
    background-position-y: bottom, center;
}
body::selection {
    background-color: var(--accent);
    color: var(--text);
}
.container {
    width: 100%;
    max-width: 962px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    position: fixed;
    width: 239px;
    height: 201px;
    z-index: 2;
    border-bottom-right-radius: 100%;
    background: linear-gradient(136.07deg, #c4c4c408 10.75%, #c4c4c400 92.33%);
    backdrop-filter: blur(30px);
    pointer-events: none;
}

.nav {
    background-image: url(../img/section_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    padding-bottom: 146px;
}
.nav_text {
    font-size: 50px;
    font-weight: 900;
    color: var(--accent);
    text-align: center;
    margin-bottom: 52px;
}
.nav_form {
    display: flex;
    justify-content: space-between;
    max-width: 570px;
    margin: 0 auto;
}
.nav_inp {
    width: 270px;
    padding: 10px 72px 10px 30px;
    background-color: var(--input);
    color: var(--light-text);
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(20px)
}
.nav_inp:hover, .nav_inp:focus {
    background-color: var(--input-hover);
    outline: none;
}
.nav_wrap {
    position: relative;
}
.nav_button {
    position: absolute;
    right: 12px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-image: url(../img/search_icon.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 12px;
    border-radius: var(--button-radius);
}
.nav_button:hover, .nav_button:focus {
    background-color: var(--input-button);
    outline: none;
}
.nav_select {
    padding-right: 30px;
    appearance: base-select;
    cursor: pointer;
}
.nav_select option {
    background-color: var(--background);
    color: var(--light-text);
    cursor: pointer;
    padding: 5px 10px;
}

.cards {
    position: relative;
}
.cards_info {
    position: absolute;
    z-index: 2;
    top: -40px;
    color: var(--text);
    opacity: 0.6;
    pointer-events: none;
    font-size: 12px;
    max-width: 90%;
}
.cards_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
    column-gap: 70px;
}
.cards_item {
    position: relative;
    width: 180px;
    text-align: center;
    margin-bottom: 63px;
    cursor: pointer;
}
.cards_poster {
    width: 180px;
    height: 227px;
    border-radius: var(--card-radius);
    margin-bottom: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: var(--light-text);
}
.cards_img {
    height: 100%;
}
.cards_item::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    content: "";
    width: 153px;
    height: 143px;
    display: block;
    transform: translateX(13px) translateY(-14px);
    opacity: 0.3;
    border: solid 1px var(--accent);
    border-radius: var(--card-radius);
    transition: all ease-in-out 100ms;
    pointer-events: none;
}
.cards_name {
    color: var(--accent);
    font-weight: 700;
    margin-bottom: 5px;
}
.cards_date {
    color: var(--text);
    margin-bottom: 5px;
}
.cards_place {
    color: var(--text);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards_place::before {
    content: "";
    width: 7px;
    height: 10px;
    background-image: url(../img/location_icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 3px;
}
.cards_item:hover::after, .cards_item:focus::after {
    transform: translateX(0) translateY(0);
    opacity: 1;
    border-color: var(--accent-hover);
}
.cards_item:hover .cards_name, .cards_item:focus .cards_name {
    color: var(--accent-hover);
}

.cards_pag {
    display: flex;
    gap: 5px;
    margin: 0 auto 61px auto;
    width: fit-content;
}
.cards_pag li {
    width: 30px;
    height: 30px;
}
.cards_pag li button {
    width: 100%;
    height: 100%;
    border: solid 1px transparent;
    border-radius: var(--button-radius);
    color: var(--text);
    background-color: transparent;
    cursor: pointer;
}
.cards_pag li button:hover, .cards_pag li button:focus {
    border-color: var(--accent-hover) !important;
    outline: none;
}
.pag_current {
    pointer-events: none;
    border-color: var(--accent) !important;
    color: var(--accent) !important;
}

footer {
    padding-top: 19px;
    padding-bottom: 19px;
}
.footer_text {
    color: var(--light-text);
    text-align: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--modal-backdrop);
    backdrop-filter: blur(3px);
    cursor: pointer;
}
.modal_content {
    position: relative;
    background-color: var(--modal-bg);
    padding: 62px 20px;
    border-radius: 200px 0 200px 0;
    max-height: 95vh;
    overflow: auto;
    scrollbar-color: var(--modal-backdrop) transparent;
    scrollbar-width: thin;
    cursor: auto;
    margin: 10px 20px;
}
.modal_close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    background-image: url(../img/close_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    border-radius: var(--button-radius);
    cursor: pointer;
}
.modal_close:hover, .modal_close:focus {
    background-color: var(--close-hover);
    outline: none;
}
.modal_circle {
    width: 132px;
    height: 132px;
    background-color: var(--background);
    border-radius: 50%;
    margin: 0 auto 41px auto;
}
.modal_placing {
    display: flex;
}
.modal_img {
    max-width: 360px;
    height: min-content;
    margin-right: 60px;
}
.modal_wrap {
    width: 450px;
}
.modal_title {
    color: var(--accent);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 7px;
}
.modal_text {
    font-size: 18px;
    margin-bottom: 20px;
}
.modal_button {
    background-color: var(--buttons);
    color: var(--text);
    font-weight: 500;
    padding: 10px 19px;
    border-radius: 5px;
    display: block;
    width: fit-content;
}
.modal_button:hover, .modal_button:focus {
    background-color: var(--buttons-hover);
    outline: none;
}

@media (width < 1000px) {
    header, .header_logo {
        width: 180px;
        height: 151px;
    }
    body {
        background-image: url(../img/tablet_background.png), url(../img/noise_body.png);
    }
    .nav {
        padding-bottom: 136px;
    }
    .nav_text {
        font-size: 30px;
        margin-bottom: 27px;
    }
    .cards_list {
        column-gap: 27px;
    }

    .modal_content {
        padding: 28px 17px 56px 17px;
        border-radius: 175px 0 175px 0;
    }
    .modal_circle {
        width: 70px;
        height: 70px;
        margin-bottom: 43px;
    }
    .modal_img {
        width: 233px;
        margin-right: 30px;
    }
    .modal_title {
        font-size: 20px;
    }
    .modal_text {
        font-size: 16px;
    }
}
@media (width < 660px) {
    .nav {
        padding-top: 49px;
    }
    .nav_text {
        font-size: 26px;
    }
}

@media (width < 590px) {
    * {
        font-size: 14px;
    }
    body {
        background-image: url(../img/noise_body.png);
        background-repeat: repeat;
        background-position-x: center;
        background-position-y: center;
    }
    header, .header_logo {
        width: 107px;
        height: 90px;
    }
    .nav {
        padding-top: 78px;
        padding-bottom: 61px;
    }
    .nav_text {
        font-size: 24px;
        margin-bottom: 25px;
    }
    .nav_form {
        flex-direction: column;
        height: 105px;
        width: 100%;
    }
    .nav_inp {
        width: 100%;
        font-size: 16px;
    }
    .cards_list {
        column-gap: 14px;
    }
    .cards_poster {
        width: 128px;
        height: 161px;
    }
    .cards_item {
        width: 128px;
    }
    .cards_item::after {
        width: 108px;
        height: 101px;
    }
    .cards_place {
        font-size: 12px;
    }
    .cards_place::before {
        width: 6px;
        height: 9px;
    }

    .modal_content {
        padding: 75px 14px 104px 14px;
        border-radius: 150px 0 150px 0;
    }
    .modal_circle {
        width: 102px;
        height: 102px;
        margin-bottom: 18px;
    }
    .modal_img {
        display: none;
    }
    .modal_title, .modal_text {
        text-align: center;
    }
    .modal_button {
        margin: 0 auto;
    }
}