:root {
    --accent: #dc56c5;
    --accent-hover: #cf31b5;
    --background: #000;
    --text: #fff;
    --light-text: #939393;
    --modal-bg: #fff2fd;
    --buttons: #4c00fe;
    --buttons-hover: #4000d5;
    --header-gradient: #c4c4c4;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal_content {
    background-color: white;
    padding: 20px;
}